<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
			<add key="accessToken" value=""/>
			<add key="baseUri" value="https://api.gitter.im/v1"/>
			<add key="groupId" value="57cc501940f3a6eec0636850"/>
			<add key="roomId" value="57cc92b340f3a6eec0637327"/>
	</appSettings>
</configuration>